:root {
  --main-color: #292f36;
  --secondary-color: #2589bd;
  --color3: #34d1bf;
  --color4: #fffbff;
  --color5: #ec4e20;
}

/*#region Table layout */
section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 4fr 2fr 4fr;
  gap: 0px 0px;
  grid-template-areas:
    ". dealer ."
    ". playerInput ."
    ". player .";
  height: 89vh;
}

.dealer {
  grid-area: dealer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player {
  grid-area: player;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.betting {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "betButton multipleButtons";
  grid-area: playerInput;
}

.betButton {
  grid-area: betButton;
}

.multipleButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
  grid-area: multipleButtons;
}

/*#endregion*/

/*#region Betting*/
#betting {
  height: 100%;
  display: flex;
  align-items: center;
}

/*#endregion*/

/*#region GameToggle*/
.invisible {
  display: none;
}
fieldset {
  height: 100%;
}

.gameInput {
  grid-area: playerInput;
}
.gameInput fieldset {
  display: grid;
  grid-template-areas:
    ". ."
    ". .";
}
.afterGame {
  grid-area: playerInput;
}
/*#endregion*/
