section {
  margin: 15vh 10vw 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

#tiles {
  width: 25vw;
  height: 40vh;
  margin: 0 0 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#sidebar {
  width: 5vw;
  height: 40vh;
  display: grid;
  margin: 0 auto 0 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#sidebar p {
  line-height: 80%;
}

#bottombar {
  width: 25vw;
  height: 8vh;
  display: grid;
  justify-self: end;
  /*margin: 0 auto 0 0;*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
