:root {
  --main-color: #292f36;
  --secondary-color: #2589bd;
  --color3: #34d1bf;
  --color4: #fffbff;
  --color5: #ec4e20;
}
section {
  /* margin: 15vh 25vw 0; */
  height: 89vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". tiles sidebar ."
    ". bottombar . ."
    ". . . .";
}

#tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
  grid-area: tiles;
}
/*#region bars*/
#bottombar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . . . .";
  grid-area: bottombar;
}

#sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    "."
    "."
    ".";
  grid-area: sidebar;
}

button {
  border: 5px groove var(--main-color);
  background-color: var(--color5);
  color: var(--main-color);
}
button:hover {
  border: 5px ridge var(--secondary-color);
  background-color: var(--color4);
}
/*#endregion*/
