:root {
  --main-color: #292f36;
  --secondary-color: #2589bd;
  --color3: #34d1bf;
  --color4: #fffbff;
  --color5: #ec4e20;
}
section {
  margin: 15vh 25vw 0;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tiles sidebar"
    "bottombar .";
}

#bottombar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . . . .";
  grid-area: bottombar;
}

#tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
  grid-area: tiles;
}

#sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    "."
    "."
    ".";
  grid-area: sidebar;
}
