@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Questrial", sans-serif;
}

:root {
  --main-color: #292f36;
  --secondary-color: #2589bd;
  --color3: #34d1bf;
  --color4: #fffbff;
  --color5: #ec4e20;
}
/*#region Top Menu*/
header {
  position: sticky;
  top: 0;
  font-family: "Bebas Neue", cursive;
  z-index: 1;
}

nav {
  background-color: var(--secondary-color);
}

nav ul {
  display: flex;
  list-style: none;
  text-align: center;
}

nav ul li .textOption {
  display: block;
  line-height: 11vh;
  text-decoration: none;
  color: black;
  transition: all 200ms;
}

nav ul li .textOption:hover {
  background-color: var(--color4);
  color: var(--main-color);
}

.blank {
  flex-grow: 6;
  color: var(--color3);
}

.item {
  flex-grow: 3;
}

#dropdown {
  display: none;
}

#logo {
  height: 8vh;
  padding-top: 1vh;
}
/*#endregion*/
